@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.hidden {
  content-visibility: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  padding: 80px 32px;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.two-column__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

button {
  color: #f7fafc;
  border: none;
  background-color: #6415ff;
  border-radius: 9999px;
  padding: 12px 32px;
}

button:hover {
  background-color: #5011cc;
}

.no-cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='37' viewport='0 0 100 100' style='fill:black;font-size:16px;'><text y='50%'>👻</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
  line-height: 1.25;
}

p {
  font-size: 18px;
}

.purple-text {
  color: #6415ff;
}

.left-column__text {
  width: 50%;
  margin-right: 64px;
  padding: 32px 0;
}

.section__title {
  font-weight: 700;
  letter-spacing: 1.5px;
}

.section__header {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.6px;
  line-height: 1.5;
  margin: 16px 0;
}

.section__para {
  line-height: 1.625;
  color: #7c8ba1;
  font-weight: 500;
}

.section__para.align-center {
  max-width: 600px;
  margin: 0 auto;
}

.section__button {
  margin-top: 32px;
  font-size: 14px;
  font-weight: 700;
}

.align-center {
  text-align: center;
}

/*

HAMBURGER 

MENU

*/

.btn__menu {
  font-size: 24px;
  stroke: #1a202c;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  padding: 0px 0px;
  display: none;
}

.btn__menu:hover {
  stroke: #6315ff;
  background-color: transparent;
}

.menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  margin: 24px 24px;
  padding: 32px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #1a202c;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.menu__link:hover {
  border-color: #6315ff;
  color: #6315ff;
}

.menu__link--btn {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
  padding: 12px 32px;
  margin: 8px 0;
  transition: background-color 300ms ease;
}

.menu__link--btn:hover {
  color: #6315ff;
}

.btn__menu--close {
  position: absolute;
  top: 24px;
  right: 8px;
}

/* 

NAVIGATION

*/

.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px 0 32px;
}

.logo__wrap {
  display: flex;
  align-items: center;
}

.logo--img {
  width: 40px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.8px;
  margin: 0 24px 0 12px;
  transition: color 300ms ease;
}

.logo:hover {
  color: #6315ff;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  margin: 0 24px;
  padding-bottom: 4px;
  text-decoration: underline transparent 2px;
  text-underline-offset: 8px;
  transition: all 300ms ease-in-out;
}

.nav__link:hover {
  text-decoration: underline 2px;
  text-underline-offset: 8px;
  color: #6315ff;
}

.nav__link--left-margin {
  margin-left: 48px;
}


.nav__link--button {
  font-size: 14px;
  font-weight: 600;
  transition: background-color 300ms ease;
}

.nav__link--button:hover {
  color: #6315ff;
}

/*

HEADER

*/

header {
  position: relative;
}

.header__row {
  display: flex;
  align-items: flex-end;
}

.header__left-column {
  width: 40%;
  flex-direction: column;
}

p.header {
  margin: 32px 0;
  line-height: 1.5;
}

.input__wrap {
  position: relative;
  width: 100%;
}

input {
  font-size: 100%;
  font-weight: 500;
  width: 100%;
  padding: 20px 192px 20px 32px;
  background-color: #ffffff;
  border-radius: 9999px;
  border: 2px solid #e2e8f0;
  transition: border-color 300ms;
}

input::placeholder {
  color: #e2e8f0;
  font-weight: 500;
}

input:hover {
  border-color: #a0aec0;
}

input:focus,
input:active {
  border-color: #6415ff;
  outline: transparent solid 2px;
  outline-offset: 2px;
}

button.header__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 8px 8px 8px 0;
  padding: 16px 0;
  width: 160px;
  font-weight: 700;
  font-size: 100%;
  line-height: 16px;
}

.customers__wrap {
  margin-top: 80px;
}

.customers {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.customers__img {
  width: 100%;
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 64px;
}

.header__img {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.header__blob {
  position: absolute;
  width: 256px;
  height: 256px;
  left: 0;
  bottom: 0;
  z-index: -10;
  transform: translateX(-54%);
  opacity: 0.05;
}

/*

FEATURES

*/

#features {
  position: relative;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding: 0px 16px;
  margin: 32px 0;
}

.features__img--container {
  width: 60px;
  height: 60px;
  border: 1px solid #e2e8f0;
  border-radius: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__description {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
}

.title {
  color: #243e63;
  font-size: 24px;
  font-weight: 700;
}

.service__description--para {
  color: #7c8ba1;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  line-height: 2;
}

.features__blob {
  position: absolute;
  width: 256px;
  height: 256px;
  right: 0;
  bottom: 0;
  transform: translateX(95px) translateY(50px);
  opacity: 0.25;
}

/* 

QUALITY WORK

*/

.work__img--wrapper {
  position: relative;
  width: 50%;
  margin: 0 56px;
}

.work__img {
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}

.work__dot-grid {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: -35px;
  right: -40px;
  z-index: -1;
}

/*

STEPS

*/

.steps__img--wrapper {
  position: relative;
  width: 50%;
}

.steps__img {
  width: 100%;
}

.steps__dot-grid {
  position: absolute;
  opacity: 0.15;
  width: 80px;
  height: 80px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(47%);
  z-index: -1;
}

.steps__right-column {
  width: 50%;
  margin-left: 64px;
}

.step {
  display: flex;
  justify-content: flex-start;
  margin-top: 32px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
}

.step__description {
  margin-left: 24px;
  max-width: 320px;
}

.step__title {
  color: #243e63;
  font-size: 20px;
  font-weight: 600;
}

.step__para {
  color: #718096;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  margin-top: 12px;
}

/*

VALUES

*/

.values {
  display: flex;
  margin-top: 32px;

}

.value:not(:last-child) {
  margin-right: 32px;
}

.value__title--wrapper {
  display: flex;
  align-items: center;
}

.value__icon {
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.icon--affordable {
  background-color: #9ae6b4;
}

.icon--Professionalism {
  background-color: #feb2b2;
}

.value__title {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.value__para {
  color: #718096;
  margin-top: 16px;
}

.values__img--wrapper {
  width: 50%;
}

.values__img {
  width: 100%;
}

/*

PRICING

*/

.plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.plan--wrapper {
  width: calc(100% / 3);
  max-width: 425px;
  margin-top: 64px;
  padding: 0 16px;
}

.plan {
  position: relative;
  text-align: center;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.plan.business {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__highlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan__highlight.personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__highlight.enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__header {
  padding: 32px 0;
  line-height: 1.625;
}

.plan__name {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
}

.plan__price {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
  margin: 4px 0;
}

.plan__duration {
  font-weight: 700;
  color: #a0aec0;
  letter-spacing: 1.5px;
}

.plan__features {
  padding: 32px 32px;
  border-style: solid;
  border-color: #e2e8f0;
  border-width: 0px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  margin: 0 -32px;
}

.plan__features.business {
  border-color: rgb(102, 126, 234);
}

.plan__main-feature {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
}

.plan__feature {
  font-weight: 500;
  color: #718096;
  margin-top: 20px;
}

.plan__action {
  padding: 32px 48px;
}

.business-color1 {
  color: #ffffff;
}

.business-color2 {
  color: #f7fafc;
}

.business-color3 {
  color: #edf2f7;
}

.plan__button {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  max-width: 192px;
  color: #f7fafc;
  letter-spacing: 0.8px;
  padding: 16px 32px;
  transition: all 300ms ease;
}

.plan__button.personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__button.business {
  color: #6415ff;
  background-color: #f7fafc;
}

.plan__button:hover {
  transform: translateX(1px) translateY(-1px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.plan__button.enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__blob {
  position: absolute;
  height: 256px;
  width: 256px;
  opacity: 0.25;
  left: 0px;
  bottom: 0px;
  transform: translateY(50%) translateX(-43%);
  z-index: -1;
}

/*

TESTIMONIALS

*/

.testimonials {
  display: flex;
}

.testimonials__img--wrapper {
  width: 50%;
}

.testimonials__img {
  width: 100%;
}

.testimonials__right-column {
  width: 50%;
  margin-left: 64px;
}

.testimonials {
  margin-top: 40px;
}

.fa-star {
  color: #fabf2a;
}

.testimonial__title {
  font-size: 20px;
  font-weight: 700;
  margin: 16px 0;
}

.testimonial__para {
  color: #4a5568;
  font-weight: 500;
  line-height: 1.625;
}

.testimonial__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.testimonial__footer--client {
  display: flex;
  align-items: center;
}

.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial__client {
  margin-left: 24px;
  text-align: left;
}

.testimonial__client--name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
}

.testimonial__client--title {
  color: #7c8ba1;
  font-weight: 500;
}

.testimonial__footer--control {
  display: flex;
}

.testimonial__control {
  background-color: #edf2f7;
  display: flex;
  margin: 0 12px;
  padding: 16px;
  cursor: pointer;
  transition: all 300ms ease;
}

.testimonial__control:hover {
  background-color: #e2e8f0;
}

.fa-arrow-left,
.fa-arrow-right {
  color: #6415ff;
  font-size: 16px;
}

.testimonial__divider {
  border-right: 1px solid #e2e8f0;
  margin: 12px 0;
}

/*

FAQS

*/

#faqs {
  position: relative;
}

.faqs {
  margin: 48px auto 0 auto;
  max-width: 896px;
}

.faq {
  margin-top: 20px;
  padding: 16px 40px;
  cursor: pointer;
  background-color: #edf2f7;
  border-radius: 8px;
}

.faq:hover {
  background-color: #e2e8f0;
}

.question {
  display: flex;
  justify-content: space-between;
}

.question--text {
  font-size: 20px;
  font-weight: 600;
  color: #2d3748;
}

.question--toggle {
  margin-right: 8px;
}

.fa-angle-down {
  font-size: 18px;
  color: #2d3748;
}

.answer {
  content-visibility: hidden;
  /* margin-top: 16px; */
  line-height: 1.625;
}

.faqs__blob1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 224px;
  width: 224px;
  opacity: 0.15;
  transform: translateX(50%) translateY(-38px);
  z-index: -1;
}

.faqs__blob2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 256px;
  width: 256px;
  opacity: 0.15;
  transform: translateX(-55%);
  z-index: -1;
}

/*

GET
STARTED

*/

.get-started__container {
  margin-bottom: 96px;
}

.get-started__row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6315ff;
  border-radius: 8px;
  max-width: 1280px;
  padding: 96px 32px;
  z-index: 1;
}

.get-started__heading {
  width: 100%;
  max-width: 512px;
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}

.get-started__button--wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 512px;
}

.get-started__button--start {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #f7fafc;
  background-color: #f26565;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 20px 40px;
  margin-right: 32px;
  transition: all 300ms ease;
}

.get-started__button--start:hover {
  background-color: #e53e3e;
  color: #ede8f7;
}

.get-started__button--contact {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  border: 1px solid #a0aec0;
  padding: 20px 40px;
  transition: all 300ms ease;
}

.get-started__button--contact:hover {
  background-color: #f7fafc;
  color: #6315ff;
  border-color: #6315ff;
}

.get-started__blob--wrapper {
  position: absolute;
  inset: 0px;
  overflow: hidden;
  border-radius: 8px;
  z-index: -1;
}

.get-started__blob1 {
  position: absolute;
  width: 320px;
  height: 320px;
  opacity: 0.5;
  bottom: 0;
  left: 0;
  transform: translateX(-80px) translateY(128px);
}

.get-started__blob2 {
  position: absolute;
  width: 320px;
  height: 320px;
  opacity: 0.5;
  top: 0;
  right: 0;
  transform: translateX(80px) translateY(-256px);
}

/*

FOOTER

*/

.footer__container {
  position: relative;
  background-color: #6315ff;
  padding: calc(64px + 20px) 32px;
  z-index: 1;
}

.footer__links--columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__link--title {
  color: #f7fafc;
  font-weight: 700;
  margin-bottom: 24px;
}

.footer__links {
  list-style: none;
}

li:not(.footer__link--title) {
  margin-top: 12px;
}

.footer__link {
  color: #f7fafc;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: border-color 300ms ease;
  cursor: not-allowed;
}

.cursor-allowed {
  cursor: pointer;
}

.footer__link:hover {
  border-color: #f7fafc;
}

.footer__divider {
  border-bottom: 2px solid #722cff;
  margin: 64px 0;
  width: 100%;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo--wrapper {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  width: 32px;
}

.footer__logo--text {
  font-size: 20px;
  font-weight: 900;
  color: #f7fafc;
  letter-spacing: 0.8px;
  margin-left: 8px;
}

.footer__copyright {
  color: #cbd5e0;
  font-weight: 500;
  text-align: center;
}

.footer__social--links {
  display: flex;
}

.footer__social--link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #f7fafc;
  border-radius: 9999px;
  padding: 8px;
  transition: background-color 300ms ease;
}

.footer__social--link:not(:last-child) {
  margin-right: 16px;
}

.footer__social--link:hover {
  background-color: #cbd5e0;
}

.fa-brands {
  color: #1a202c;
  font-size: 12px;
}

.footer__blob--wrapper {
  position: absolute;
  inset: 0px;
  overflow: hidden;
  border-radius: 8px;
  z-index: -1;
}

.footer__blob1 {
  position: absolute;
  width: 320px;
  height: 320px;
  opacity: 0.5;
  top: 0;
  left: 0;
  transform: translateX(-80px) translateY(-128px);
}

.footer__blob2 {
  position: absolute;
  width: 320px;
  height: 320px;
  opacity: 0.5;
  bottom: 0;
  right: 0;
  transform: translateX(80px) translateY(192px);
}

/*

Smaller
Screen
Resolutions

*/

/* 

1024px 

*/

@media (max-width: 1024px) {

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  .section__header {
    font-size: 36px;
  }

  .section__header.align-center {
    font-size: 48px;
    margin: 24px 0;
  }

  .left-column__text {
    margin-right: 48px;
  }

  /* NAV */

  .nav__link,
  .nav__link--button {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  /* HEADER */

  .header__row {
    flex-direction: column;
    align-items: center;
  }

  .header__left-column {
    width: 100%;
    max-width: 512px;
    text-align: center;
  }

  p.header {
    margin: 20px 0;
  }

  .input__wrap {
    display: flex;
    max-width: 448px;
    margin: 0 auto;
  }

  .customers__wrap {
    margin-top: 48px;
  }

  p.customers {
    font-size: 14px;
  }

  .customers__img {
    padding: 0;
  }

  .header__img {
    margin: 48px 0 0;
    width: 100%;
    max-width: 512px;
  }

    /* FEATURES */

  .services {
    justify-content: center;
    margin-top: 40px;
  }

  .service {
    width: calc(100% / 2);
    max-width: 340px;
    margin: 0 16px;
    padding: 32px 8px;
  }

  /* VALUES */

  #values .section__para {
    margin-top: 32px;
  }

  .values {
    flex-direction: column;
    max-width: 320px;
    margin-top: 0;
  }

  .value {
    margin-top: 40px;
  }

 #values .section__button {
    margin-top: 48px;
  }

  /* PRICING */

  .plans {
    flex-direction: column;
  }
  
  .plan--wrapper {
    width: 100%;
  }

  .plan__button {
    max-width: none;
  }

  /* TESTIMONIALS */

  .testimonials__img--wrapper {
    width: 41%;
  }

  .testimonials__right-column {
    width: 59%;
  }

  /* GET STARTED */

  .get-started__row {
    flex-direction: column;
  }

  .get-started__heading {
    text-align: center;
  }

  .get-started__button--wrapper {
    margin-top: 24px;
    justify-content: center;
  }

}


/* 

768px 

*/

@media (max-width: 768px) {

  .two-column__row {
    flex-direction: column;
  }

  .left-column__text {
    margin-right: 0;
    width: 100%;
    max-width: 448px;
    text-align: center;
    margin-top: 64px;
  }
  
  /* QUALITY WORK */
  
  #work .row {
    flex-direction: column-reverse;
  }
  
  .work__img--wrapper {
    width: 100%;
    max-width: 448px;
  }
  
  /* STEPS*/
  
  .steps__img--wrapper {
    width: 100%;
    max-width: 448px;
  }
  
  .steps__right-column {
    margin-left: 0;
    width: 100%;
    max-width: 448px;
    text-align: center;
    margin-top: 64px;
  }
  
  .step {
    flex-direction: column;
    align-items: center;
  }
  
  .step__description {
    margin-left: 0;
    margin-top: 12px;
  }

  /* VALUES */

  #values .row {
    flex-direction: column-reverse;
  }

  .values__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .values {
    margin: 0 auto;
  }

  .value:not(:last-child) {
    margin-right: 0;
  }

  .value__title--wrapper {
    justify-content: center;
  }

  /* TESTIMONIALS */

  .testimonials__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .testimonials__right-column {
    margin-left: 0;
    width: 100%;
    max-width: 448px;
    text-align: center;
    margin-top: 64px;
  }

  /* FAQS */ 

  .question--text {
    font-size: 16px;
  }

  .answer {
    font-size: 12px;
  }

  /* FOOTER */ 

  .footer__links--columns {
    justify-content: flex-start;
    margin-top: -48px;
  }

  .footer__links {
    width: calc(100%/3);
    margin-top: 48px;
  }

  .footer__info {
    flex-direction: column;
    align-items: center;
  }

  .footer__copyright {
    margin: 32px;
  }
}


/* 

550px 

*/

@media (max-width: 550px) {

  .section__header {
    font-size: 30px;
    line-height: 1.25;
  }

  .section__header.align-center {
    font-size: 36px;
  }

  .section__para {
    font-size: 14px;
  }

    /* HEADER */

  .input__wrap {
    flex-direction: column;
  }

  input {
    padding: 16px 32px;
    line-height: 1.5;
  }

  button.header__button {
    position: static;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0;
    line-height: 1.5;
  }

  /* FEATURES */

  .service {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 350px;
  }

  .service__description {
    margin: 16px 0 0;
  }

  /* PRICING */

  .plan__price {
    font-size: 36px;
  }

  /* TESTIMONIALS */

  .testimonial__footer {
    flex-direction: column;
  }

  .testimonial__footer--client {
    flex-direction: column;
  }

  .testimonial__client {
    margin: 8px 0 32px 0;
  }

   /* FAQS */ 

   .question--text {
    font-size: 12px;
  }

  .answer {
    font-size: 10px;
  }

  .fa-angle-down {
    font-size: 14px;
  }

  /* GET STARTED */ 

  .get-started__heading {
    font-size: 24px;
  }

  .get-started__button--wrapper {
    flex-direction: column;
    align-items: center;
  }

  .get-started__button--start {
    font-size: 14px;
    margin-right: 0;
    padding: 12px 24px;
    line-height: 1.5;
  }
  
  .get-started__button--contact {
    font-size: 14px;
    margin-top: 16px;
    padding: 12px 24px;
    line-height: 1.5;
  }

  /* FOOTER */ 

  .footer__links--columns {
    justify-content: center;
  }

  .footer__links {
    width: auto;
    padding: 0 16px;
    align-items: center;
    text-align: center;
  }

  .footer__copyright {
    font-size: 14px;
  }
}



/*
Website for reference:
https://cutzudev.github.io/treact_example/#
*/
