@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.hidden {
  content-visibility: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  padding: 80px 24px;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.two-column__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

button {
  color: #f7fafc;
  border: none;
  background-color: #6415ff;
  border-radius: 9999px;
  padding: 12px 32px;
}

button:hover {
  background-color: rgb(80, 17, 204);
}

.no-cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='37' viewport='0 0 100 100' style='fill:black;font-size:16px;'><text y='50%'>👻</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
  line-height: 1.25;
}

p {
  font-size: 18px;
}

.purple-text {
  color: #6415ff;
}

.left-column__text {
  width: 50%;
  margin-right: 64px;
  padding: 32px 0;
}

.section__title {
  font-weight: 700;
  letter-spacing: 1.5px;
}

.section__header {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 4px;
  margin: 16px 0;
}

.section__para {
  line-height: 1.625;
  color: #7c8ba1;
  font-weight: 500;
}

.section__para.align-center {
  max-width: 600px;
  margin: 0 auto;
}

.section__button {
  margin-top: 32px;
  font-size: 14px;
  font-weight: 700;
}

.align-center {
  text-align: center;
}

/* 

NAVIGATION

*/

.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.logo__wrap {
  display: flex;
  align-items: center;
}

.logo--img {
  width: 40px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  margin: 0 24px 0 12px;
  transition: color 300ms ease;
}

.logo:hover {
  color: rgb(100, 21, 255);
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  margin: 0 24px;
  padding-bottom: 4px;
  text-decoration: underline rgba(100, 21, 255, 0) 2px;
  text-underline-offset: 8px;
  transition: all 300ms ease-in-out;
}

.nav__link:hover {
  text-decoration: underline 2px;
  text-underline-offset: 8px;
  color: rgba(100, 21, 255, 1);
}

.nav__link--left-margin {
  margin-left: 48px;
}

.nav__link--button {
  font-size: 14px;
  font-weight: 600;
  transition: background-color 300ms ease;
}

/*

HEADER

*/

header {
  position: relative;
}

.header__row {
  display: flex;
  align-items: center;
  align-items: flex-end;
}

.header__left-column {
  width: 40%;
  flex-direction: column;
}

p.header {
  margin: 32px 0;
  line-height: 1.5;
}

.input__wrap {
  position: relative;
  width: 100%;
}

input {
  font-size: 100%;
  font-weight: 500;
  width: 100%;
  padding: 20px 192px 20px 32px;
  background-color: #ffffff;
  border-radius: 9999px;
  border: 2px solid rgb(226, 232, 240);
  transition: all 300ms ease;
}

input::placeholder {
  color: rgb(226, 232, 240);
}

input:hover {
  border-color: rgb(160, 174, 192);
}

input:focus {
  border-color: rgb(100, 21, 255);
  outline: transparent solid 2px;
  outline-offset: 2px;
}

button.header__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 8px 8px 8px 0;
  padding: 16px 0;
  width: 160px;
  font-weight: 700;
  font-size: 100%;
  line-height: 16px;
}

.customers__wrap {
  margin-top: 80px;
}

.customers {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
}

.customers__img {
  width: 100%;
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 64px;
}

.header__img {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.header__blob {
  position: absolute;
  width: 256px;
  height: 256px;
  left: 0;
  bottom: 0;
  z-index: -10;
  transform: translateX(-55%);
  opacity: 0.05;
}

/*

FEATURES

*/

#features {
  position: relative;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding: 0px 16px;
  margin: 32px 0;
}

.features__img--container {
  width: 60px;
  height: 60px;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__description {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
}

.title {
  color: #243e63;
  font-size: 24px;
  font-weight: 700;
}

.service__description--para {
  color: #7c8ba1;
  font-size: 16px;
  margin-top: 16px;
}

.features__blob {
  position: absolute;
  width: 256px;
  height: 256px;
  right: 0;
  bottom: 0;
  transform: translateX(128px) translateY(50px);
  opacity: 0.25;
}

/* 

QUALITY WORK

*/

.work__img--wrapper {
  position: relative;
  width: 50%;
}

.work__img {
  width: 100%;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 4px;
}

.work__dot-grid {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: -35px;
  right: -40px;
  z-index: -1;
}

/*

STEPS

*/

.steps__img--wrapper {
  position: relative;
  width: 50%;
}

.steps__img {
  width: 100%;
}

.steps__dot-grid {
  position: absolute;
  opacity: 0.15;
  width: 160px;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.steps__right-column {
  width: 50%;
  margin-left: 64px;
}

.step {
  display: flex;
  justify-content: flex-start;
  margin-top: 32px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
}

.step__description {
  margin-left: 24px;
}

.step__title {
  color: #243e63;
  font-size: 20px;
  font-weight: 600;
}

.step__para {
  color: #718096;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  margin-top: 12px;
  min-width: 320px;
}

/*

VALUES

*/

.values {
  display: flex;
  margin-top: 32px;
}

.value:not(:last-child) {
  margin-right: 32px;
}

.value__title--wrapper {
  display: flex;
  align-items: center;
}

.value__icon {
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.icon--affordable {
  background-color: #9ae6b4;
}

.icon--Professionalism {
  background-color: #feb2b2;
}

.value__title {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.value__para {
  color: #718096;
  margin-top: 16px;
}

.values__img--wrapper {
  width: 50%;
}

.values__img {
  width: 100%;
}

/*

PRICING

*/

.plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.plan--wrapper {
  width: calc(100% / 3);
  max-width: 384px;
  margin-top: 64px;
  padding: 0 16px;
}

.plan {
  position: relative;
  text-align: center;
  padding: 8px 32px 0 32px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.plan.business {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__highlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan__highlight.personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__highlight.enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__header {
  padding: 32px 0;
  line-height: 1.625;
}

.plan__name {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
}

.plan__price {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
  margin: 4px 0;
}

.plan__duration {
  font-weight: 700;
  color: #a0aec0;
  letter-spacing: 1.5px;
}

.plan__features {
  padding: 32px 32px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  border-width: 0px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  margin: 0 -32px;
}

.plan__features.business {
  border-color: rgb(102, 126, 234);
}

.plan__main-feature {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
}

.plan__feature {
  font-weight: 500;
  color: #718096;
  margin-top: 20px;
}

.plan__action {
  padding: 32px 0px;
}

.business-color1 {
  color: #ffffff;
}

.business-color2 {
  color: #f7fafc;
}

.business-color3 {
  color: #edf2f7;
}

.plan__button {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  max-width: 192px;
  color: #f7fafc;
  letter-spacing: 0.8px;
  padding: 16px 32px;
  transition: all 300ms ease;
}

.plan__button.personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__button.business {
  color: #6415ff;
  background-color: rgb(247, 250, 252);
}

.plan__button:hover {
  transform: translateX(1px) translateY(-1px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.plan__button.enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__blob {
  position: absolute;
  height: 256px;
  width: 256px;
  opacity: 0.25;
  left: 0px;
  bottom: 0px;
  transform: translateY(50%) translateX(-45%);
  z-index: -1;
}

/*

TESTIMONIALS

*/

.testimonials {
  display: flex;
}

.testimonials__img--wrapper {
  width: 50%;
}

.testimonials__img {
  width: 100%;
}

.testimonials__right-column {
  width: 50%;
  margin-left: 64px;
}

.testimonials {
  margin-top: 40px;
}

.fa-star {
  color: #fabf2a;
}

.testimonial__title {
  font-size: 20px;
  font-weight: 700;
  margin: 16px 0;
}

.testimonial__para {
  color: #4a5568;
  font-weight: 500;
  line-height: 1.625;
}

.testimonial__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.testimonial__footer--client {
  display: flex;
  align-items: center;
}

.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial__client {
  margin-left: 24px;
  text-align: left;
}

.testimonial__client--name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
}

.testimonial__client--title {
  color: #7c8ba1;
  font-weight: 500;
}

.testimonial__footer--control {
  display: flex;
}

.testimonial__control {
  background-color: #edf2f7;
  display: flex;
  margin: 0 12px;
  padding: 16px;
  cursor: pointer;
  transition: all 300ms ease;
}

.testimonial__control:hover {
  background-color: rgb(226, 232, 240);
}

.fa-arrow-left,
.fa-arrow-right {
  color: #6415ff;
  font-size: 16px;
}

.testimonial__divider {
  border-right: 1px solid rgb(226, 232, 240);
  margin: 12px 0;
}

/*

FAQS

*/

#faqs {
  position: relative;
}

.faqs {
  margin-top: 48px;
}

.faq {
  margin-top: 20px;
  padding: 16px 40px;
  cursor: pointer;
  background-color: rgb(237, 242, 247);
  border-radius: 8px;
}

.faq:hover {
  background-color: rgb(226, 232, 240);
}

.question {
  display: flex;
  justify-content: space-between;
}

.question--text {
  font-size: 20px;
  font-weight: 600;
  color: #2d3748;
}

.question--toggle {
  margin-right: 8px;
}

.fa-angle-down {
  font-size: 18px;
  color: #2d3748;
}

.answer {
  content-visibility: hidden;
  /* margin-top: 16px; */
  line-height: 1.625;
}

.faqs__blob1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 224px;
  width: 224px;
  opacity: 0.15;
  transform: translateX(50%) translateY(-38px);
  z-index: -1;
}

.faqs__blob2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 256px;
  width: 256px;
  opacity: 0.15;
  transform: translateX(-55%);
  z-index: -1;
}